<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/base_eunseo.css">
    <link rel="stylesheet" href="static/firstpage.css">
    <title>홈화면</title>
</head>
<body>
    <div id = "container">
        <div id = "header">
            <div class = "headerleft">
                <a href="firstpage.html">
                    <img class = "mainLogo" src="icon/mainLogo.png">
                </a>
            </div>
            <div class = "headerright">
                <a href="flavorpage.html">
                    <img class = "menuicecream" src="icon/ISFP.png">
                </a>
                <a href="flavorpage.html">
                    <img class = "menuicecream" src="icon/INTJ.png">
                </a>
                <a href="flavorpage.html">
                    <img class = "menuicecream" src="icon/ESFP.png">
                </a>
            </div>
        </div>
        <div id = "main">
            <div id = "leftspace">
            </div>
            <div id = "centerspace">
                <div class = "centertop">
                  <img class = "firstpageLogo" src="icon/firstpageLogo.svg">
                </div>
                <div class = "centerbottom">
                    <a class = "testbutton" href="#">
                        테스트 하러가기
                    </a>                  
                    <br>
                    <br>
                    <a class = "flavorbutton" href="#">
                        맛 보러가기
                    </a>
                  
              </div>
            </div>
            <div id = "rightspace">
            </div>
        </div>
    </div>
</body>
</html>