
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/base_eunseo.css">
    <link rel="stylesheet" href="static/flavorpage.css">
    <title>맛화면</title>
</head>
<body>
    <div id = "container">
        <div id = "header">
            <div class = "headerleft">
                <a href="firstpage.html">
                    <img class = "mainLogo" src="icon/mainLogo.png">
                </a>
            </div>
            <div class = "headerright">
                <a href="flavorpage.html">
                    <img class = "menuicecream" src="icon/ISFP.png">
                </a>
                <a href="flavorpage.html">
                    <img class = "menuicecream" src="icon/INTJ.png">
                </a>
                <a href="flavorpage.html">
                    <img class = "menuicecream" src="icon/ESFP.png">
                </a>
            </div>
        </div>
        <div id = "main">
            <div id = "leftspace">
            </div>
            <div id = "centerspace">
                <div class = "flavorspace">
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/ENFJ.png">
                        </a>
                        <p>민트초코칩</p>
                    </div>
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/ENFP.png">
                        </a>
                        <p>사랑에 빠진 딸기</p>
                    </div>
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/ENTJ.png">
                        </a>
                        <p>엄마는 외계인</p>
                    </div>
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/ENTP.png">
                        </a>
                        <p>레인보우 샤베트</p>
                    </div>
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/ESFJ.png">
                        </a>
                        <p>쫀떡궁합</p>
                    </div>
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/ESFP.png">
                        </a>
                        <p>오레오 쿠키<br>앤 민트</p>
                    </div>
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/ESTJ.png">
                        </a>
                        <p>초코나무 숲</p>
                    </div>
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/ESTP.png">
                        </a>
                        <p>레인보우 샤베트</p>
                    </div>
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/INFJ.png">
                        </a>
                        <p>바람과 함께<br>사라지다</p>
                    </div>
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/INFP.png">
                        </a>
                        <p>매드 어바웃<br>초콜릿</p>
                    </div>
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/INTJ.png">
                        </a>
                        <p>디노 젤리</p>
                    </div>
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/INTP.png">
                        </a>
                        <p>아몬드 봉봉</p>
                    </div>
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/ISFJ.png">
                        </a>
                        <p>뉴욕 치즈케이크</p>
                    </div>
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/ISFP.png">
                        </a>
                        <p>바닐라</p>
                    </div>
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/ISTJ.png">
                        </a>
                        <p>초콜릿 무스</p>
                    </div>
                    <div class = "oneflavor">
                        <a href="#">
                            <img class = "icecream" src="icon/ISTP.png">
                        </a>
                        <p>아몬드 봉봉</p>
                    </div>   
                </div>
            </div>
            <div id = "rightspace">
            </div>
        </div>

    </div>
</body>
</html>