<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>MBTI result: 초코나무숲 [ESTJ 사업가형]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css_yebin/resultpage.css' %}">
</head>
<body>
    <div id="header">
            <img src="header_logo.svg">
    </div>

    <div id="main">
        <!-- <div id="left"></div> -->
        <div id="center">
            <div id="icecream_result">
                <div id="icecream_name">
                    당신에게 어울리는 맛은
                   
                    <span id="flavor_name"> 초코나무 숲 </span>  <!-- flavor_name 필드값 -->
                    입니다.
                </div>
                <div id="icecream_tags">
                    #초콜릿 #그린티 <!-- flavor_tags 필드값 -->
                </div>
            </div>
            <div id="icecream_image">
                <img class="icecream_img" src="choco_forest.svg"> <!-- flavor_image 필드값 -->
            </div>
            <div id="icecream_personality">
                전체적인 숲을 볼 수 있는 안목을 소유한 사업가형 <!-- flavor_personality 필드값 -->
            </div>        
            <div id="icecream_characteristics">
                <ul id="charact"> <!-- flavor_characteristics 필드값 -->
                    <li> 당신은 매우 사무적, 실용적, 현실적 스타일이네요. </li>
                    <li> 사물과 사람을 관리하는데 타의 추종을 불허하는 뛰어난 실력을 갖춘 관리자형입니다. </li>

                </ul>
            </div>
            <div id="icecream_other_flavors">
                <a href="#"> 다른 맛들 보러가기 </a>
                <!-- 카카오톡 공유 부분 추가 예정-->
            </div>
            <div id="made_by">
                <a class="madeby" href="#"> Made By </a>  
                <a class="madeby" href="https://github.com/LikeLionSCH/Bera-Project-9th"> Github </a>
            </div>
        </div>
        <!-- <div id="right"></div> --> 
    </div>

</body>
</html>